html{
  font-family: Arial, Helvetica, sans-serif;

}
body{
    max-width: 1200px;
    margin:auto;
    padding: 15px;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding:15px;
    margin-bottom:15px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
   .selected{
      background-color: #EFC050;
      }
  .title{
    font-weight: 700;
  }
      button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  button[disabled] {
    background-color: grey;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  button.favorite{
    background-color: orange;
  }
  button.info{
    background-color: #34568B;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  

  
  li  {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
  }
  
  li:hover {
    background-color: #111;
  }
  .disabled {
    pointer-events:none; 
    opacity:0.6;        
}
i{
  cursor: pointer;
}

/* mobile menu */
.topnav {
  overflow: hidden;
  background-color: #333;
}

 .topnav li , .topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}



.topnav li:hover, .topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active,  .topnav li.active{
  background-color: rgb(150, 49, 255);
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 768px) {
  .topnav li{display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive li {
    float: none;
    display: block;
    text-align: left;
  }
}
h1{
  color:rgb(150, 49, 255);
}